<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.ProfileMapper">
	<resultMap type="Profile" id="profileMap">
		<id property="UserId" column="UserId" />
		<result property="UserName" column="UserName" />
		<result property="NickName" column="NickName" />
		<result property="TreeholePassWord" column="TreeholePassWord" />
		<result property="CreateTime" column="CreateTime" />
		<result property="LastUpdateTime" column="LastUpdateTime" />
		<result property="AvatorUrl" column="AvatorUrl" />
		<result property="level" column="level" />
		<result property="gender" column="gender" />
		<result property="age" column="age" />
		<result property="initedXmpp" column="initedXmpp" />
		<result property="xmppUserName" column="xmppUserName" />
		<result property="domain" column="domain" />
	</resultMap>

	<insert id="addProfile" parameterType="Profile">
		INSERT INTO
		TB_Profile(
		UserName,
		NickName,
		TreeholePassWord,
		CreateTime,
		LastUpdateTime,
		AvatorUrl,
		level,
		gender,
		age,
		initedXmpp,
		xmppUserName,
		domain
		)VALUES(
		#{UserName},
		#{NickName},
		#{TreeholePassWord},
		#{CreateTime},
		#{LastUpdateTime},
		#{AvatorUrl},
		#{level},
		#{gender},
		#{age},
		#{initedXmpp},
		#{xmppUserName},
		#{domain}
		)
		<selectKey keyProperty="UserId" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<!-- 查询Ridding -->
	<select id="getProfileByUserId" resultMap="profileMap">
		SELECT * from
		TB_Profile where
		userId=#{userId};
	</select>

	<update id="updateXmppInit" flushCache="true" statementType="PREPARED">
		update TB_Profile set
		initedXmpp = #{initedXmpp}
		where userId
		= #{userId}
		;
	</update>

	<update id="updateXmppUserName" flushCache="true" statementType="PREPARED">
		update TB_Profile set
		xmppUserName = #{xmppUserName}
		where userId
		=
		#{userId} ;
	</update>

	<update id="updateTreeholePassWord" flushCache="true"
		statementType="PREPARED">
		update TB_Profile set
		TreeholePassWord=#{TreeholePassWord}
		where userId
		=
		#{userId};
	</update>

	<update id="updateProfile" flushCache="true" statementType="PREPARED">
		update TB_Profile set
		NickName = #{NickName},
		AvatorUrl = #{AvatorUrl},
		LastUpdateTime = #{LastUpdateTime}
		where userId
		= #{userId}
		;
	</update>
</mapper>