<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.SessionMapper">
	<resultMap type="Session" id="sessionMap">
		<id property="id" column="id" />
		<result property="UserId" column="UserId" />
		<result property="refreshToken" column="refreshToken" />
		<result property="CreateTime" column="CreateTime" />
		<result property="ExpireIn" column="ExpireIn" />
	</resultMap>

	<insert id="addSession" parameterType="Session">
		INSERT INTO
		TB_Session(
		UserId,
		refreshToken,
		CreateTime,
		ExpireIn
		)VALUES(
		#{UserId},
		#{refreshToken},
		#{CreateTime},
		#{ExpireIn}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>
</mapper>