<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.AccountMapper">
	<resultMap type="Account" id="accountMap">
		<id property="id" column="id" />
		<result property="access_token" column="access_token" />
		<result property="expires_in" column="expires_in" />
		<result property="uid" column="uid" />
	</resultMap>

	<insert id="addAccount" parameterType="Account">
		INSERT INTO
		TB_Account(
		access_token,
		expires_in,
		uid
		)VALUES(
		#{access_token},
		#{expires_in},
		#{uid}
		)
	</insert>
</mapper>