<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.AccountMapper">
	<resultMap type="Account" id="accountMap">
		<id property="UserId" column="UserId" />
		<result property="UserName" column="UserName" />
		<result property="PassWord" column="PassWord" />
		<result property="CreateTime" column="CreateTime" />
	</resultMap>

	<insert id="addAccount" parameterType="Account">
		INSERT INTO
		TB_Account(
		UserId,
		UserName,
		PassWord,
		CreateTime
		)VALUES(
		#{UserId},
		#{UserName},
		#{Password},
		#{CreateTime}
		)
	</insert>
</mapper>