<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.AudioMapper">
	<resultMap type="Audio" id="audioMap">
		<id property="id" column="id" />
		<result property="audioKey" column="audioKey" />
		<result property="fileSize" column="fileSize" />
		<result property="audioSec" column="audioSec" />
	</resultMap>

	<insert id="addAudio" parameterType="Audio">
		INSERT INTO
		TB_Audio(
		audioKey,
		fileSize,
		audioSec
		)VALUES(
		#{audioKey},
		#{fileSize},
		#{audioSec}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>


	<!-- 查询 -->
	<select id="getAudioById" resultMap="audioMap">
		SELECT * from
		TB_Audio where
		id = #{id} ;
	</select>


	<select id="getAudiosByIds" resultType="Audio" parameterType="list">
		SELECT * from TB_Audio where
		id in
		<foreach item="item" collection="ids" index="index" open="("
			separator="," close=")">
			#{item}
		</foreach>
		;
	</select>
</mapper>