<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.FrWantChatTypeMapper">
	<resultMap type="FrWantChatType" id="FrWantChatTypeMap">
		<id property="id" column="id" />
		<result property="userId" column="userId" />
		<result property="createTime" column="createTime" />
		<result property="gender" column="gender" />
		<result property="beginAge" column="beginAge" />
		<result property="endAge" column="endAge" />
		<result property="type" column="type" />
		<result property="chatType" column="chatType" />
		<result property="status" column="status" />
	</resultMap>

	<insert id="addFrWantChatType" parameterType="FrWantChatType">
		INSERT INTO
		TB_Fr_WantChatType(
		userId,
		createTime,
		gender,
		beginAge,
		endAge,
		type,
		chatType,
		status
		)VALUES(
		#{userId},
		#{createTime},
		#{gender},
		#{beginAge},
		#{endAge},
		#{type},
		#{chatType},
		#{status}
		)
		<selectKey keyProperty="id" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<update id="updateFrWantChatType" flushCache="true"
		statementType="PREPARED">
		update TB_Fr_WantChatType set
		gender = #{gender},
		beginAge =
		#{beginAge},
		endAge = #{endAge},
		chatType = #{chatType},
		type = #{type}
		where
		id
		= #{id}
		;
	</update>

	<!-- 查询 -->
	<select id="getFrWantChatType" resultMap="FrWantChatTypeMap">
		SELECT * from
		TB_Fr_WantChatType where
		userId=#{userId} and type = #{type};
	</select>

	<select id="getFrWantChatTypesByType" resultMap="FrWantChatTypeMap">
		SELECT * from
		TB_Fr_WantChatType where type = #{type}
		<if test="chatType >=0 ">
			and chatType = #{chatType}
		</if>

		;
	</select>

</mapper>