<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.FrWantChatTypeMapper">
	<resultMap type="FrWantChatType" id="FrWantChatType">
		<result property="userId" column="userId" />
		<result property="createTime" column="createTime" />
		<result property="gender" column="gender" />
		<result property="age" column="age" />
		<result property="type" column="type" />
		<result property="status" column="status" />
	</resultMap>

	<insert id="addFrWantChatType" parameterType="FrWantChatType">
		INSERT INTO
		TB_Fr_WantChatType(
		userId,
		createTime,
		gender,
		age,
		type,
		status
		)VALUES(
		#{userId},
		#{createTime},
		#{gender},
		#{age},
		#{type},
		#{status}
		)
	</insert>
	
	
</mapper>