<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pressure.mapper.ProfileMapper">
	<resultMap type="Profile" id="profileMap">
		<id property="UserId" column="UserId" />
		<result property="UserName" column="UserName" />
		<result property="NickName" column="NickName" />
		<result property="CreateTime" column="CreateTime" />
		<result property="LastUpdateTime" column="LastUpdateTime" />
		<result property="AvatorUrl" column="AvatorUrl" />
		<result property="level" column="level" />
		<result property="initedXmpp" column="initedXmpp" />
	</resultMap>

	<insert id="addProfile" parameterType="Profile">
		INSERT INTO
		TB_Profile(
		UserName,
		NickName,
		CreateTime,
		LastUpdateTime,
		AvatorUrl,
		level,
		initedXmpp
		)VALUES(
		#{UserName},
		#{NickName},
		#{CreateTime},
		#{LastUpdateTime},
		#{AvatorUrl},
		#{level},
		#{initedXmpp}
		)
		<selectKey keyProperty="UserId" resultType="long">
			SELECT
			LAST_INSERT_ID() AS VALUE
		</selectKey>
	</insert>

	<!-- 查询Ridding -->
	<select id="getProfileByUserId" resultMap="profileMap">
		SELECT * from
		TB_Profile where
		userId=#{userId};
	</select>

	<update id="updateXmppInit" flushCache="true" statementType="PREPARED">
		update TB_Profile set
		initedXmpp = #{initedXmpp}
		where userId
		= #{userId} ;
	</update>

</mapper>