<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Setting</string>
	<key>tag</key>
	<integer>0</integer>
	<key>style</key>
	<string>UITableViewStyleGrouped</string>
	<key>sections</key>
	<array>
		<dict>
			<key>header</key>
			<dict>
				<key>className</key>
				<string>RPSectionHeaderView</string>
				<key>height</key>
				<string>44</string>
				<key>title</key>
				<string>个人信息</string>
			</dict>
			<key>cells</key>
			<array>
				<dict>
					<key>height</key>
					<string>44</string>
					<key>title</key>
					<string>昵称</string>
					<key>className</key>
					<string>RPNormalSettingCell</string>
					<key>actionType</key>
					<string>AutoGenCellType_None</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
