<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Profile" type="com.pressure.meta.Profile" />
		<typeAlias alias="Account" type="com.pressure.meta.Account" />
		<typeAlias alias="SourceAccount" type="com.pressure.meta.SourceAccount" />
		<typeAlias alias="Session" type="com.pressure.meta.Session" />
		<typeAlias alias="FrChatGroup" type="com.pressure.meta.FrChatGroup" />
		<typeAlias alias="Treehole" type="com.pressure.meta.Treehole" />
	</typeAliases>
	<mappers>
		<mapper resource="com/pressure/mapper/xml/ProfileMapper.xml" />
		<mapper resource="com/pressure/mapper/xml/AccountMapper.xml" />
		<mapper resource="com/pressure/mapper/xml/SourceAccountMapper.xml" />
		<mapper resource="com/pressure/mapper/xml/SessionMapper.xml" />
		<mapper resource="com/pressure/mapper/xml/FrChatGroupMapper.xml" />
		<mapper resource="com/pressure/mapper/xml/TreeholeMapper.xml" />
	</mappers>
</configuration>